@model ericsson.Models.Predmet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Predmet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImePredmeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImePredmeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImeProfesora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImeProfesora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PredmetID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
